@import '~bootstrap/scss/bootstrap';
form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form button:hover {
  background: gold;
}
.messages {
  position: relative;
  left: 29px;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.leaves {
  position: relative;
  z-index: -1;
  bottom: 132px;
  width: 450px;
  height: 700px;
  left: 1070px;

}
.titles {
  position: relative;
  left: 25px;
  color: rgba(55, 153, 55, 1);
}

#sign-up {
  position: relative;
  bottom: 1400px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, .6);
  left: 200px;
}

#sign-in {
  position: relative;
  bottom: 1400px;
  box-shadow: 8px 8px 5px rgba(0,0,0, .6);
  left: 200px;
}

.intro-text {
  position: relative;
  left: 25px;
  width: 500px;
  height: 700px;
  bottom: 700px;
  // border: 3px black solid;
  font-size: 30px;
  word-wrap: break-word;
}

.zam {
  width: 300px;
}
@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}
